body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8C52FF; /* Cor de fundo do ecrã todo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 600px; /* Limita a largura total do conteúdo */
    display: flex;
    background-color: #8C52FF; /* Cor de fundo do logótipo */
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Para garantir que o logotipo não ultrapasse as bordas */
}

.login-logo {
    flex: 1; /* Ocupa o espaço restante à esquerda */
    padding: 20px;
    background-color: #8C52FF; /* Cor de fundo do logótipo */
    text-align: center;
}

.login-logo img {
    max-width: 100%; /* Garante que o logótipo não ultrapasse o contêiner */
}

.login-content {
    flex: 2; /* Ocupa o dobro do espaço em relação ao logótipo */
    padding: 20px;
    background-color: #ffffff; /* Cor de fundo do formulário de login */
}

.login-content h2 {
    color: #333333; /* Cor do texto do título */
    margin-bottom: 5px;
}

.login-content p {
    color: #666666; /* Cor do texto de instrução */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px; /* Espaço entre os campos do formulário */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%; /* Faz o input ocupar todo o espaço disponível */
    padding: 10px;
    border: 1px solid #dddddd; /* Borda sutil */
    border-radius: 5px; /* Bordas arredondadas */
}

.login-btn {
    width: 100%; /* Faz o botão ocupar todo o espaço disponível */
    padding: 10px;
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #8C52FF; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    cursor: pointer; /* Muda o cursor para indicar clicabilidade */
    font-size: 1em;
}

.login-btn:hover {
    background-color: #7a45d6; /* Cor de fundo do botão quando o mouse está sobre ele */
}
